#modal-dialog {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #000;
    max-width: 300px;
    border-radius: 10px;
    /* display: none; */
    padding: 10px;
    text-align: center;
    transform: translateX(400px);
    transition: transform 1s;
}

#modal-dialog.show {
    transform: translateX(0);
}

#modal-dialog-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    text-decoration: none;
    color: #000;
}

#modal-dialog img {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #modal-dialog {
        max-width: 200px;
    }
}